body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "Segoe UI", sans-serif;
  background-color: #FDFDFD;
  color: var(--text-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-width: 850px;
}

.site-main {
  position: relative;
  z-index: auto; /* z-index를 auto로 설정하여 새로운 스태킹 컨텍스트를 만들지 않으면서도 DOM 순서상 빛(z-index: 0)보다 위에 오게 함 */
}
