body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", "Segoe UI", sans-serif;
  background-color: #FDFDFD;
  color: var(--text-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-width: 850px;
}
